<div class="container sticky-top pt-3">
  <div class="row">
    <div class="col col-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ album.id !== -1 ? 'Edit album. id: ' + album.id : 'Add new album'}}</h5>
          <ng-container *ngIf="album.id !== -1">
            <p><b>Old album title:</b> {{ albumTitleSrc }}</p>
          </ng-container>
          <form (ngSubmit)="onFormSubmit()" #addAlbumForm="ngForm">
            <div class="alert alert-danger" *ngIf="albumTitle.invalid && albumTitle.dirty">Error message</div>

            <input type="text"
                   class="form-control"
                   [(ngModel)]="album.title"
                   name="title"
                   placeholder="Album title"
                   #albumTitle="ngModel"
                   required
                   maxlength="100"
                   minlength="2"
                   (keyup)="onKeyUpTitleInput()"
            >
            <button class="btn btn-success mt-3" [disabled]="albumTitle.invalid || (album.id !== -1 && !isAlbumTitleChanged)">{{ album.id !== -1 ? 'Save' : 'Submit'}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
