<div class="container mt-5">
  <div class="row">
    <div class="col col-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add new album</h5>
          <form (ngSubmit)="onFormSubmit()" #addAlbumForm="ngForm">
            <div class="alert alert-danger" *ngIf="albumTitle.invalid && albumTitle.dirty">Error message</div>

            <input type="text"
                   class="form-control"
                   [(ngModel)]="album.title"
                   name="title"
                   placeholder="Album title"
                   #albumTitle="ngModel"
                   required
                   maxlength="100"
                   minlength="2"
            >
            <button class="btn btn-success mt-3" [disabled]="albumTitle.invalid">{{ album.id !== -1 ? 'Save' : 'Submit'}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
